{% set label = label|default('Imagen') %}
{% set image = image|default('') %}
{% set accept = accept|default('.png, .jpg, .jpeg') %}
{% set name = name|default('file') %}
{% set id = id|default('file') %}
{% set required = required|default() %}

<label class="col-12 fw-bold fs-6 {% if(required) %} required {% endif %}">{{ label }}</label>
<div class="col-12">
    <div class="image-input image-input-outline" data-kt-image-input="true" >
        <div class="image-input-wrapper w-125px h-125px">
            <img class="w-125px h-125px preview_imagen" src="{{ image }}">
        </div>
        <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-action="loadPreviewImage" style="cursor: pointer;position: absolute;right: -10px;top: -10px;">
            <i class="bi bi-pencil-fill fs-7"></i>
            <input type="file" class="file" name="{{ name }}" id="{{ id }}" accept="{{ accept }}" {% if(required) %} required="required" {% endif %} style="display: none" />
        </label>
        <label class="error"></label>
    </div>
</div>