{% if perpage is defined and perpage > 0 %}
{% set pageactive = pageactive|default(1) %}
{% set pagecount = pagecount %}
{% set resultperpage = perpage|default(10) %}
{% set totalpages = (pagecount/resultperpage)|round(0,'ceil') %}
{% if(totalpages < 1) %}
    {% set totalpages = 1 %}
{% endif %}

{% set interval = totalpages > 5 ? 2 : 4 %}
{% set pageini = pageactive - (pageactive > 2 ? 2: 4) %}
{% set pagefinal = pageactive + (pageactive > 2 ? 2: 4) %}
{% if (pageini <= 0) %}
    {% set pageini = pageactive %}
{% endif %}
{% if (pagefinal > totalpages) %}
    {% set pagefinal = totalpages %}
{% endif %}
<div class="row">
    <div class="col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start"></div>
    <div class="col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end">
        <div class="dataTables_paginate paging_simple_numbers" id="kt_table_users_paginate">
            <ul class="pagination">
                {% if(pageactive != 1) %}
                    <li class="paginate_button page-item previous {% if(pageactive == 1) %} disabled {% endif %}" >
                        <a href="javascript:void(0)" class="page-link page_control" data-page="1">
                            <i class="previous"></i>
                        </a>
                    </li>
                {% endif %}

                {% if(pageactive != 1) %}
                    <li class="paginate_button page-item previous {% if(pageactive == 1) %} disabled {% endif %}" >
                        <a href="javascript:void(0)" class="page-link {% if(pageactive == 1) %} disabled {% endif %} page_control"  data-page="{{ pageactive - 1 }}">
                            <i class="previous"></i>
                        </a>
                    </li>
                {% endif %}

                {% if pageactive - 2 > 0 %}
                    <a>...</a>
                {% endif %}

                {% for page in pageini..pagefinal %}
                    <li class="paginate_button page-item {% if(pageactive == page) %} active {% endif %} item">
                        <a href="javascript:void(0)" class="page-link page_control" data-page="{{ page }}" >{{ page }}</a>
                    </li>
                {% endfor %}

                {% if(totalpages-2 > pagefinal) %}
                    <a>...</a>
                {% endif %}

                {% if(pageactive != totalpages) %}
                    <li class="paginate_button page-item next">
                        <a href="javascript:void(0)" class="page_control" data-page="{{ pageactive + 1 }}"><i class="next"></i></a>
                    </li>
                {% endif %}

                {% if(pageactive != totalpages) %}
                    <li class="paginate_button page-item next">
                        <a href="javascript:void(0)" class="page-link page_control" data-page="{{ totalpages }}"><i class="next"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<input type="hidden" class="totalpage" value="{{ pagecount|default(0) }}">
{% endif %}