{% set container = targetcontainer|default('category_tree_default') %}
{% set label = label|default('Categorías') %}
{% set targetselect = targetselect|default('select-category-default') %}
{% set targettree = targettree|default('categorie_tree') %}
{% set placeholder = placeholder|default('Seleccione') %}
{% set required = required|default() %}
{% set id_categoryselect = id_categoryselect|default() %}
{% set name_categoryselect = name_categoryselect|default() %}
{% set tipo = tipo|default() %}
{% set form_group = form_group|default('form-group') %}

<div id="{{ container }}" class="{{ form_group }}">
    <label class="fw-bold fs-6 mb-2 {% if(required) %} required {% endif %}">{{ label }}</label>
    <select class="form-control" id="{{ targetselect }}" name="{{ targetselect }}" {% if(required) %} required="required" {% endif%} data-placeholder="{{ placeholder }}" data-tipo="{{ tipo }}" style="width: 100%;">
        {% if id_categoryselect and name_categoryselect %}
            <option value="{{ id_categoryselect }}" selected="selected"> {{ name_categoryselect }}</option>
        {% endif %}
    </select>
    <label class="error" for="{{ targetselect }}"></label>
    <div class="category_tree">
        <button id="btn_categorie_tree" type="button" class="btn_close">
            <i class="fa fa-times-circle text-darck btn_close_i"></i>
        </button>
        <div id="{{ targettree }}" class="tree kt-scroll ps ps--active-y" data-scroll="true" data-speed="1" style="height: 200px; height: 200px"></div>
    </div>
</div>