<div id="table_datos" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <div class="table-responsive">
        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_table_notaria"
               role="grid">
            <thead>
            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0" role="row">
                <th class="min-w-10px">Id</th>
                <th class="min-w-125px">Nombre</th>
                <th class="min-w-125px">Apellido</th>
                <th class="min-w-125px">Sexo</th>
                <th class="min-w-125px">Activo</th>
                <th class="min-w-125px">img</th>
                <th class="min-w-125px">Acci&oacute;n</th>
            </tr>
            </thead>
            <tbody class="text-gray-600 fw-bold">
            {% for datos in datos %}
                <tr id="tr_notaria{{ datos.id }}" class="odd">
                    <td>{{ datos.id }}</td>
                    <td>{{ datos.nombre }}</td>
                    <td>
                        {{ datos.apellido }}
                    </td>
                    <td>
                        {{ datos.sexo }}
                        {% if(datos.sexo == 'm') %}
                            <span class="svg-icon svg-icon-3 is-valid" style="color: green;" data-bs-toggle="tooltip" data-bs-original-title="sexo masculino">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                  <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                                </svg>
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        {% if(datos.activo) %}
                            <span class="badge badge-success">Activo</span>
                        {% else %}
                            <span class="badge badge-danger">Inactivo</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ datos.imagen }}
                    </td>
                    <td>
                        <div class="">
                            <a href="javascript:void(0)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1"
                               data-action="loadDato" data-id="{{ datos.id }}">
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.3"
                                                  d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                                                  fill="black"></path>
                                            <path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                                                  fill="black"></path>
                                        </svg>
                                    </span>
                            </a>
                            <a href="javascript:void(0)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm"
                               data-action="deleteDato" data-id="{{ datos.id }}">
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none">
                                            <path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                                  fill="black"></path>
                                            <path opacity="0.5"
                                                  d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                                  fill="black"></path>
                                            <path opacity="0.5"
                                                  d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                                  fill="black"></path>
                                        </svg>
                                    </span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">
                        {% include 'helper/nodatos.html.twig' %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'helper/pagination.html.twig' %}
</div>